#side-menu .nav-header{ text-align: center; }

nav .pagination li{ display: inline-block; vertical-align: top; }
nav .page-form{ padding:0px;}
nav .page-form input[type="text"]{ width:40px; text-align: center; }


/**
*   数据列表 表格
*/
.table-list{ font-size:14px; }
.table-list a{ font-size:12px;}


#upload-img-one,.upload-img-one{ width:120px; height:120px;  position: relative; text-align: center; overflow: hidden; margin-right:15px; padding: 0px;}
#upload-img-one .upload-img-btn,.upload-img-one .upload-img-btn{position: absolute; left:-150px;}
#upload-img-one:hover .upload-img-btn,.upload-img-one:hover .upload-img-btn{ padding:35% 0px;  top:0px; left:0px; width: 100%; height:100%; background: rgba(0,0,0,0.5);}

#upload-img-one img,.upload-img-one img{ width:100%; height:100%;}
